auto-save-list/*
projectile-bookmarks.eld
el-get/*
elpa/*
eshell/*
url/
backups
.places
projectile.cache
tramp
org/
org-clock-save.el
ac-comphist.dat
.mc-lists.el
semanticdb/
.#*
*#
core/*.el
modules/*.el
boot.el
bundle/*
flycheck_org-clock-save.el
bookmarks
undo/*
ensime/
snippets/
.last-package-update-day
.*desktop*
